// this is an example of using the if() function and @if directive
$is-black: true;

.my-class {
    color: if($is-black, #000, #fff);
}

.my-other-class {
    @if $is-black {
        color: #000;
    }
}