.my-class, .my-other-class {
  color: #fff;
}

.my-other-class {
  background-color: #000;
}

.my-third-class, .my-fourth-class {
  color: #fff;
}

.my-fourth-class {
  color: #000;
}

.my-fifth-class {
  color: #fff;
}
