// this is an example of how inheritance will reorder rules
.my-class {
    color: #fff;
}

.my-other-class {
    color: #000;
}

.my-other-class {
    @extend .my-class;
}

// this is an example of how inheritance will include descendant selectors
.my-complex-class {
    color: #fafafa;
    .my-complex-class-child {
        color: #ddd;
        a {
            color: #ccc;
        }
    }
    &-modifier {
        color: #eee;
    }
}

.my-final-class {
    @extend .my-complex-class;
}