.my-class {
  color: #000;
}

.my-class .my-other-class {
  color: #fff;
}

.my-class .my-other-class a {
  color: #eee;
}

.my-class {
  color: #eee;
}

.my-class-modifier {
  color: #fff;
}

.my-class:hover {
  color: #000;
}

.my-class:before {
  color: #fff;
}
